<a href="https://colab.research.google.com/github/k1ran242/kiran/blob/main/Naive_Bayes_Classifire.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df= pd.read_csv('/SalaryData_Test.csv')
df.head()

   age   workclass      education  ...  hoursperweek          native  Salary
0   25     Private           11th  ...            40   United-States   <=50K
1   38     Private        HS-grad  ...            50   United-States   <=50K
2   28   Local-gov     Assoc-acdm  ...            40   United-States    >50K
3   44     Private   Some-college  ...            40   United-States    >50K
4   34     Private           10th  ...            30   United-States   <=50K

[5 rows x 14 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15060 entries, 0 to 15059
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            15060 non-null  int64
 1   workclass      15060 non-null  object
 2   education      15060 non-null  object
 3   educationno    15060 non-null  int64
 4   maritalstatus  15060 non-null  object
 5   occupation     15060 non-null  object
 6   relationship   15060 non-null  object
 7   race           15060 non-null  object
 8   sex            15060 non-null  object
 9   capitalgain    15060 non-null  int64
 10  capitalloss    15060 non-null  int64
 11  hoursperweek   15060 non-null  int64
 12  native         15060 non-null  object
 13  Salary         15060 non-null  object
dtypes: int64(5), object(9)
memory usage: 1.6+ MB

In [ ]:
df.describe()

                age   educationno   capitalgain   capitalloss  hoursperweek
count  15060.000000  15060.000000  15060.000000  15060.000000  15060.000000
mean      38.768327     10.112749   1120.301594     89.041899     40.951594
std       13.380676      2.558727   7703.181842    406.283245     12.062831
min       17.000000      1.000000      0.000000      0.000000      1.000000
25%       28.000000      9.000000      0.000000      0.000000     40.000000
50%       37.000000     10.000000      0.000000      0.000000     40.000000
75%       48.000000     13.000000      0.000000      0.000000     45.000000
max       90.000000     16.000000  99999.000000   3770.000000     99.000000

### Handling Categorical Features

In [ ]:
cols=['workclass','education','maritalstatus','occupation','relationship','sex','race','native','Salary']
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
for col in cols:
    df[col]=lb.fit_transform(df[col])

In [ ]:
df.head()

   age  workclass  education  ...  hoursperweek  native  Salary
0   25          2          1  ...            40      37       0
1   38          2         11  ...            50      37       0
2   28          1          7  ...            40      37       1
3   44          2         15  ...            40      37       1
4   34          2          0  ...            30      37       0

[5 rows x 14 columns]

In [ ]:
df['Salary'].value_counts()

0    11360
1     3700
Name: Salary, dtype: int64

In [ ]:
### It seems target column is imbalance
#### So we increse the weight of other class to balance the feature

In [ ]:
X=df.drop(['Salary'],axis=1)
y=df['Salary']

In [ ]:
#Random over-sampling with imblearn
from imblearn.over_sampling import RandomOverSampler

/usr/local/lib/python3.7/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

In [ ]:
os =  RandomOverSampler(random_state=0)

In [ ]:
X_new_res, y_new_res = os.fit_resample(X,y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
X_new_res.shape,y_new_res.shape

((22720, 13), (22720,))

In [ ]:
from collections import Counter
print('Original dataset shape', Counter(y))
print('Resample dataset shape', Counter(y_new_res))

Original dataset shape Counter({0: 11360, 1: 3700})
Resample dataset shape Counter({0: 11360, 1: 11360})

In [ ]:
 #feature scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X_new_res)

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y_new_res , test_size=0.3, random_state=100)

In [ ]:
x_train.shape, x_test.shape,y_train.shape,y_test.shape

((15904, 13), (6816, 13), (15904,), (6816,))

In [ ]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(Xtrain, ytrain)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
classifier.score(Xtrain, ytrain)

0.6847962776659959

In [ ]:
y_pred=classifier.predict(x_test)

In [ ]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [ ]:
print(accuracy_score(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))

0.6880868544600939
              precision    recall  f1-score   support

           0       0.63      0.93      0.75      3425
           1       0.86      0.44      0.59      3391

    accuracy                           0.69      6816
   macro avg       0.75      0.69      0.67      6816
weighted avg       0.74      0.69      0.67      6816

[[3186  239]
 [1887 1504]]